footer {
    position: relative;
    bottom: 0;
    background-color: #000;
    width: 100%;
    padding: 0.5em;
    height: 6em;
}

.line {
    width: 30%;
}

hr {
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 6em;
}

.icon {
    color: #fff;
    margin-right: 1em;
}

.copyright p{
    text-align: center;
    color: #fff;
}




@media screen and (max-width:1024px) {
    .line {
        width: 40%;
    }
    .icon {
        margin-left: 1em;
    }
    footer {
        height: 5em;
    }
    hr{
        display: none;
    }
    .copyright p {
        font-size: 0.5em;
    }
    
}

@media screen and (max-width:568px) {
    hr{
        display: none;
    }
    hr{
        display: none;
    }
    .copyright p {
        display: none;
    }
}