header {
    background-color: #02010E;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 130px;
    padding: 0.5em;
}

.list {
    display: flex;
}

.listItem {
    margin-left: 2em;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}

.activeItem {
    color: orange;
    border-bottom: .1em double #fff;
}


@media screen and (max-width:768px) {
    html {
        font-size: 13px;
    }
    .container-flex {
        flex-direction: column;
    }
}

@media screen and (max-width:568px) {
    html {
        font-size: 11px;
    }
    .list {
        flex-direction: column;
    }
    .listItem {
        margin-top: .2em;
    }
    .logo {
        width: 150px;
    }
}