.techMain {
    width: 100%;
    margin-top: 1em 0;
    display: block;
    justify-content: space-around;
    padding-bottom: 6em;
}

h2 {
    margin-left: 3em;
    padding: 0.5em;
}

hr {
    margin-bottom: 5em;
    margin-top: 2em;
}

p {
    text-align: justify;
    padding: 0.5em;
    margin-left: 6em;
    margin-right: 6em;
}

li {
    text-align: justify;
   
    margin-left: 6em;
}

.tag {
    color: green;
     text-decoration: solid;
}


.btnBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;
}

.btn {
    border: 2px solid black;
    border-radius: 2em;
    background-image: linear-gradient(#fff, #fff),
    radial-gradient(circle at bottom right, purple, orange);
    padding: 0.5em;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 1.5em;
}

@media screen and (max-width:568px) {
    p {
        font-size: 0.9em;
       margin-right: 2em;
        margin-left: 2em;
    }
    .techMain {
        padding-bottom: 4em;
    }
}